/* Global Vars */
:root {
  --mobile-w: '420px';
  --tablet-w: '768px';
  --desktop-sm-w: '1025px';
  --desktop-md-w: '1600px';
  --desktop-lg-w: '1800px';
  --white: rgba(236, 236, 236, 1);
  --black: rgba(21, 21, 21, 1);
  --gray: rgba(66, 66, 66, 1);
}

/* Colors */
.bg-color-gray {
  background-color: var(--gray);
}
.bg-color-white {
  background-color: var(--white);
}
.bg-color-black {
  background-color: var(--black);
}

.font-color-gray {
  color: rgba(66, 66, 66, 1);
}
.font-color-white {
  color: rgba(236, 236, 236, 1);
}
.font-color-black {
  color: rgba(21, 21, 21, 1);
}
.font-color-gray-50 {
  color: rgba(66, 66, 66, 0.5);
}
.font-color-white-50 {
  color: rgba(236, 236, 236, 0.5);
}
.font-color-black-50 {
  color: rgba(21, 21, 21, 0.5);
}
.font-color-gray-25 {
  color: rgba(66, 66, 66, 0.25);
}
.font-color-white-25 {
  color: rgba(236, 236, 236, 0.25);
}
.font-color-black-25 {
  color: rgba(21, 21, 21, 0.25);
}
.font-color-gray-10 {
  color: rgba(66, 66, 66, 0.10);
}
.font-color-white-10 {
  color: rgba(236, 236, 236, 0.10);
}
.font-color-black-10 {
  color: rgba(21, 21, 21, 0.10);
}
.font-color-gray-l1 {
  color: rgba(172, 172, 172, 1);
}

.font-color-red {
  color: rgba(224, 43, 48, 1);
}
.font-color-green {
  color: rgba(62, 177, 108, 1);
}

/* Font Family */
.font-fam-raleway {
  font-family: "Raleway", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.font-fam-opensans {
  font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Theme variables */
.roundness-medium {
  border-radius: 20px;
}

.shadow-medium {
  box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.6);
}